<script type="text/javascript">
    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(item) {
        var currentValue = parseInt(item.val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        item.closest('.input-group').find('.decrement-qty').prop('disabled', minusDisabled);
        item.closest('.input-group').find('.increment-qty').prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    $('.qty_input').each(function() {
        handleEnableDisable($(this));
    });

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        handleEnableDisable($(this));
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input');
        var currentValue = parseInt(closestInput.val());
        if (currentValue < 99) {
            closestInput.val(currentValue + 1).change();
        }
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input');
        var currentValue = parseInt(closestInput.val());
        if (currentValue > 1) {
            closestInput.val(currentValue - 1).change();
        }
    });
</script>
